{% extends 'MyappBundle:Default:admin/my_account.html.twig' %}
{% block account_update %}
    <div class="col-sm-4 col-xs-12 text-left" id="account_update">
        <div class="panel panel-primary">
            <div class="panel-heading">Change your password</div>
            <div class="panel-body">
                <div class="col-xs-12 text-left">

                    {{ form(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
