
<footer class="navbar col-sm-12 footer ">
    <div class="container ">
        <nav class="navbar navbar-default col-sm-12 navbar-fixed-bottom">
            <div class="container-fluid copyright text-center" style="padding: 15px">
                Copyright &copy <script>var d = new Date(); var y = d.getFullYear();document.write(y);</script> <a href="http://vftochogianni.com" class="cl-xs-12">V.N. Ftochogianni</a> | Developed by <a href="http://vftochogianni.com">V.N. Ftochogianni</a>
            </div>
        </nav>
    </div>
</footer>